<h1 align="center">üéæ - Tennis Betting üë®‚Äçüíªüî¨</h1>

<h2 align="center">EDA</h2>
<p style="text-align:center">
   Thomas Bury & Vilius Jaseliunas<br>
   Allianz<br>
</p>

# Database schema

In [2]:
import pandas as pd

data = pd.read_csv("../data/atp_data.csv", low_memory=False)
data['Date'] = pd.to_datetime(data['Date'])
data.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Wsets,Lsets,Comment,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
1,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Kiefer N.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
2,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Gaudio G.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
3,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,El Aynaoui Y.,...,2.0,1.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5
4,3,Doha,Qatar Open,2000-01-03,International,Outdoor,Hard,1st Round,3,Cherkasov A.,...,2.0,0.0,Completed,NaN,NaN,NaN,NaN,1500.0,1500.0,0.5

In [3]:
data.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'Wsets',
       'Lsets', 'Comment', 'PSW', 'PSL', 'B365W', 'B365L', 'elo_winner',
       'elo_loser', 'proba_elo'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44708 entries, 0 to 44707
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         44708 non-null  int64
 1   Location    44708 non-null  object
 2   Tournament  44708 non-null  object
 3   Date        44708 non-null  datetime64[ns]
 4   Series      44708 non-null  object
 5   Court       44708 non-null  object
 6   Surface     44708 non-null  object
 7   Round       44708 non-null  object
 8   Best of     44708 non-null  int64
 9   Winner      44708 non-null  object
 10  Loser       44708 non-null  object
 11  WRank       44708 non-null  int64
 12  LRank       44708 non-null  int64
 13  Wsets       44521 non-null  float64
 14  Lsets       44521 non-null  float64
 15  Comment     44708 non-null  object
 16  PSW         32743 non-null  float64
 17  PSL         32743 non-null  float64
 18  B365W       39037 non-null  float64
 19  B365L       39057 non-null  float64
 20  elo_winner  44708 non-null  float64
 21  elo_loser   44708 non-null  float64
 22  proba_elo   44708 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(4), object(9)
memory usage: 7.8+ MB

In [5]:
data.describe()

,ATP,Date,Best of,WRank,LRank,Wsets,Lsets,PSW,PSL,B365W,B365L,elo_winner,elo_loser,proba_elo
count,44708.000000,44708,44708.000000,44708.000000,44708.000000,44521.000000,44521.000000,32743.000000,32743.000000,39037.000000,39057.000000,44708.000000,44708.000000,44708.000000
mean,32.803659,2008-12-21 09:05:41.093316864,3.372596,59.159681,93.674108,2.140630,0.406325,1.927563,4.240179,1.822246,3.551007,1684.023280,1608.755552,0.585594
min,1.000000,2000-01-03 00:00:00,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.010000,1.000000,1.002000,1318.945207,1327.551888,0.008899
25%,19.000000,2004-10-02 00:00:00,3.000000,17.000000,35.000000,2.000000,0.000000,1.270000,1.794000,1.220000,1.720000,1548.476977,1501.546103,0.447921
50%,32.000000,2008-08-27 00:00:00,3.000000,41.000000,65.000000,2.000000,0.000000,1.549000,2.660000,1.500000,2.500000,1652.866073,1580.743828,0.589218
75%,49.000000,2012-10-23 00:00:00,3.000000,77.000000,105.000000,2.000000,1.000000,2.140000,4.270000,2.000000,4.000000,1780.755524,1684.607134,0.737288
max,69.000000,2018-03-04 00:00:00,5.000000,2000.000000,2000.000000,3.000000,2.000000,46.000000,121.000000,29.000000,101.000000,2392.408923,2392.595567,0.995601
std,18.170565,NaN,0.778702,74.881003,124.987643,0.462388,0.557349,1.359136,5.744329,1.107547,3.498689,179.246422,137.949299,0.198732